

.posts {
    max-width: 820px;

    .posts-heading{
        h2{
            font-family: Arial;
            font-size: 26px;
            font-weight: 700px;
            margin-top: 0;
            margin-bottom: 14px;
        }
    }

    .post {
        box-shadow: 0px 1px 20px rgba(15, 15, 15, 0.1);
        margin-bottom: 30px;

        .post-inner {
            display: flex;
            flex-wrap: nowrap;
            background: white;
        
            @media screen and (max-width: 670px){
                flex-direction: column;
            }

            .post-title {
                grid-area: heading;

                @media screen and (max-width: 670px) {
                    margin-bottom: 15px;
                }
            
                h3 {
                    font-size: 20px;
                    margin: 0;
                    font-family: Arial;
                }
            }

            .post-excerpts {
                flex-basis: 55%;
                padding: 20px 25px;

                .post-excerpts-inner {
                    display: grid;
                    grid-template-areas:
                        "category category"
                        "heading heading"
                        "readmore etc";
                    grid-auto-rows: min-content min-content 1fr;
                    height: 100%;
                }
            }

            .post-image {
                flex-basis: 45%;
        
                .post-image-inner {
                    overflow: hidden;
                    position: relative;
                    height: 190px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                
                    img {
                        width: 140%;
                        max-width: none;
                    }
                }
            }
            
            .post-category-name {
                line-height: 14px;
                margin-bottom: 15px;
                grid-area: category;
        
                span {
                    font-size: 14px;
                    text-transform: uppercase;
                    color: #ABA5C5;
                }
            }
            
            .post-readmore {
                grid-area: readmore;
                display: flex;
                align-items: flex-end;
            
                @media screen and (max-width: 670px) {
                    width: 89px;
                }
            
                a {
                    font-size: 16px;
                    color: #5f5acb;
                    text-decoration: none;
                    line-height: 40px;
            
                    @media screen and (max-width: 670px) {
                        font-size: 13px;
                        line-height: 28px;
                    }
                }
            }
            
            .etc {
                grid-area: etc;
                text-align: right;
                display: flex;
                justify-content: flex-end;
            
                > *{
                    display: flex;
                    align-items: flex-end;
            
                    span {
                        line-height: 40px;
            
                        @media screen and (max-width: 670px) {
                            line-height: 28px;
                        }
                    }
                }

                .post-rating {
                    span {
                        font-size: 14px;
                        margin-right: 14px;
                    
                        &::before{
                            content: "\2605";
                            margin-right: 3px;
                            color: orange;
                        }
                    }
                }

                .post-site_link {
                    a {
                        font-size: 18px;
                        text-decoration: none;
                        background: #6045CB;
                        color: white;
                        width: 120px;
                        line-height: 40px;
                        text-align: center;
                        transition: .2s;
                        border: 1px solid transparent;
                    
                        @media screen and (max-width: 670px) {
                            font-size: 14px;
                            width: 80px;
                            line-height: 28px;
                        }
                    
                        &:hover {
                            color: #6045CB;
                            border: 1px solid #6045CB;
                            background: white;
                            transition: .2s;
                        }
                    }
                }
            }
        }
    }
}